@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #0b0f19;
  --foreground: #f3f4f6;
  --primary: #f3f4f6;
  --primary-hover: #e5e7eb;
  --accent-mint: #4df0b0;
  --accent-mint-hover: #3cd09d;
  --accent-mint-light: #064e3b;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), Arial, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-accent-mint: var(--accent-mint);
  --color-accent-mint-hover: var(--accent-mint-hover);
  --color-accent-mint-light: var(--accent-mint-light);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}